.answer-wrapper {
    position: relative;
    padding: 15px 10px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin: 0 0 10px;

    &.accepted {
        padding-top: 30px;
        border: 2px #dff0d8 solid;
    }

    .edit_answer {
        display: none;
    }

    .accepted-label {
        display: block;
        padding: 3px 10px;
        max-width: 100px;
        text-align: center;
        color: #444;
        border-radius: 3px;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
    }
}