.question-wrapper {
    position: relative;
    padding: 15px 10px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin: 0 0 20px;
    background: #fafafa;

    h2 {
        margin-top: 0;
    }

    .edit_question {
        display: none;
    }
}

.btn {
    margin: 10px 0 15px;

    & + .btn {
        margin-left: 10px;
    }
}
.rating-wrapper {
    padding: 10px 0;

    .vote-link {
        min-width: 20px;
        margin: 0 5px;
    }

    .rating-result {
        line-height: 1;
        padding: 0 5px;
    }
}