.question-wrapper {
    padding: 15px 10px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin: 0 0 20px;
    background: #fafafa;

    h2 {
        margin-top: 0;
    }

    .edit_question {
        display: none;
    }
}

.btn {
    margin: 10px 0 15px;

    & + .btn {
        margin-left: 10px;
    }
}